<div class="ipass-footer" id="ipass-footer">
  <div class="ipass-footer-local">
    <div class="container">
      <div class="footer-top">
        Facebook
      </div>


      <div class="consumer-footer-local" >
        <div class="col-md-2">
          <h6>
            iPassStore
          </h6>
          <ul>
            <li>
              <a href="https://www.ipassstore.com/blog" target="_blank">Blog</a>
            </li>
            <li>
              <a href="https://www.ipassstore.com/jobs" target="_blank">Team</a>
            </li>
            <li>
              <a href="https://www.ipassstore.com/terms.html" target="_blank">Privacy &amp; Terms</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h6>
            Solutions
          </h6>
          <ul>
            <li>
              <a href="index.html#Passbook">Apple Passbook</a>
            </li>
            <li>
              <a href="index.html#GoogleWallet">Google Wallet (Coming Soon)</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="ipass-footer-global">
    <div class="container">
      <h6>Copyright © 2013 iPassStore.com. All rights reserved.</h6>
    </div>
  </div>
</div>


<div id="fb-root"></div>

