<section class="ipass-stage" id="business-hero">
  <div class="holder">
    <h1 class="ipass-display">
      Digital wallet program management has never been so easy.
    </h1>
  </div>
  <div class="foreground-index"></div><a name="Passbook"></a>
</section>

<section>
  <div class='row section-container iphone'>
    <div class='col-md-offset-5 col-md-5 content'>
      <h1 class="ipass-display">
        Tap into millions of iPhone users
      </h1>
      <p>
        Apple gives consumers a whole new level of convenience with its mobile
        wallet app, Passbook. With the launch of iOS 6, Passbook comes default
        on the homescreen of all iPhones, and can be deeply embedded in a
        consumer's daily life via the Notification Center.<br><br>Additionally,
        passes in Passbook are time- and location-aware, allowing them to appear
        at the most contextually relevant time.
      </p>
    </div>
  </div>
</section>

<section>
  <div class='row section-container android'>
    <div class='col-md-offset-5 col-md-5 content'>
      <h1 class="ipass-display">
        Tap into millions of Android users
      </h1>
      <p>
        Digitize your offer/coupon programs and showcase them in Google Wallet.
          You can provide customers with online offers that they can save to their
          Google Wallet and redeem either online or in store. <br><br>Additionally, with
          features like Instant Enrollment, consumers can sign up for new loyalty
          programs in one click through the app.
      </p>
      <div class="foreground_inside"></div>
        <br><br>
        <div class="ipass-meta">
        <p>
          * All requests are subject to review by Google and access to APIs are restricted at
          this time.
        </p>
      </div>
    </div>
  </div>
</section>


<br><br>
<div id="ipass-signature"></div>

