<section class="ipass-stage" id="business-hero">
  <div class="holder">
    <h1 class="ipass-display">We take care of server maintenance and complex infrastructure at the backend.</h1>
  </div>
  <div class="foreground-index"></div><a name="Passbook"></a>
</section>


<section>
  <div class='row section-container secure-data'>
    <div class='col-md-offset-5 col-md-5 simple-content'>
      <h2 class="simple-content-display">
        iPassStore Data
      </h2>
      <p>
        Store your digital wallet program data in the cloud. <br>No servers necessary.
      </p>
    </div>
  </div>
</section>

<section>
  <div class='row section-container click-push'>
    <div class='col-md-offset-5 col-md-5 simple-content'>
      <h2 class="simple-content-display">
        iPassStore 1-Click Push
      </h2>
      <p>
        Manage content and send push notifications to your customers with one simple click.
      </p>
    </div>
  </div>
</section>

<section>
  <div class='row section-container store-buttons'>
    <div class='col-md-offset-5 col-md-5 simple-content'>
      <h2 class="simple-content-display">
        iPassStore Buttons
      </h2>
      <p>
        Integrating our Add-to-Passbook and Save-to-Google-Wallet Buttons to your website or App is easy.
      </p>
    </div>
  </div>
</section>

<section>
  <div class='row section-container qr-code'>
    <div class='col-md-offset-5 col-md-5 simple-content'>
      <h2 class="simple-content-display">
        iPassStore QR Code
      </h2>
      <p>
        Integrating our QR Code into your products to create an engaging experience online and in the real world.
      </p>
    </div>
  </div>
</section>

<section>
  <div class='row section-container store-analytics'>
    <div class='col-md-offset-5 col-md-5 simple-content'>
      <h2 class="simple-content-display">
        iPassStore Analytics
      </h2>
      <p>
        Track the performance of your digital wallet program in real time.
      </p>
    </div>
  </div>
</section>

