@import "bourbon";

.admin-container{
  background-color: #ff6c78;
  min-height: 700px;

  position: relative;
}

.signup, .login {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -300px;
  width: 600px;
  height: 400px;
  background-color: #ededed;

  .container{
    padding: 40px;

    text-align: center;

    input{
      height: 40px;
      margin-top: 10px;
      width: 400px;
      border: 1px solid #ededed;
      padding: 10px 20px 10px 20px;
    }

    input[type='submit']{
      background-color: #5cdfd6;
      color: white;
      width: 120px;
      margin-top: 20px;
    }
  }
  h2 {
    margin-bottom: 30px;
    text-align: left;
  }

  h3{
    font-size: 24px;
    font-weight: 100;
    color: #888;
  }
}
